@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">

            <table cellpadding="10" cellspacing="10" class="contact">
                <tr class="contactRow">
                    <th>Phone</th>
                    <td class="contact">+91 7028114191</td>
                </tr>
                <tr class="contactRow">
                    <th>Email</th>
                    <td class="contact">showstopper@gmail.com</td>
                </tr>
                <tr>
                    <th>Available</th>
                    <td class="contact">
                        <ul type="none" class="address">
                            <li>Show Stopper,</li>
                            <li>Ramraj Complex</li>
                            <li>Mangalawar Peth,</li>
                            <li>Shivaji Nagar,Sangli,</li>
                            <li>Sangli,416404,</li>
                            <li>Maharashtra,India</li>
                            <li></li>
                        </ul>
                    </td>
                </tr >
                <tr >
                    <th>Location</th>
                    <td class="contact"><iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61094.960762633375!2d74.54290027757907!3d16.854360335839864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc10c8187f060eb%3A0x37911f53cdc1ddb3!2sSangli%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1692463772095!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
        </div>


    </div>
