@{
    ViewData["Title"] = "Home Page";
}


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/coo1.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/coo3.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/coo2.webp" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="glam"><marquee width="100%" direction="left">GLAM ON A BUDGET</marquee></div>
<div class="container-fluid" style="margin-top:50px">
    <div class="row">

        <div class="col-md-2">
            <img src="~/images/dd1.webp" class="glamimg" />
        </div>
        <div class="col-md-2">
            <img src="~/images/dd2.webp" class="glamimg" />
        </div>
        <div class="col-md-2">
            <img src="~/images/dd3.webp" class="glamimg" />
        </div>
        <div class="col-md-2">
            <img src="~/images/dd4.webp" class="glamimg" />
        </div>
        <div class="col-md-2">
            <img src="~/images/dd5.webp" class="glamimg" />
        </div>
        <div class="col-md-2">
            <img src="~/images/dd6.webp" class="glamimg" />
        </div>

    </div>
</div><marquee width="100%" direction="right">
<div class="glam">Flawness Beauty Deals</div></marquee>
<div class="container-fluid" style="margin-top:50px">
    <div class="row">

       
        <div class="col-md-3">
            <img src="~/images/d1.webp" class="beautyimg" />
        </div>
        <div class="col-md-3">
            <img src="~/images/d2.webp" class="beautyimg" />
        </div>
        <div class="col-md-3">
            <img src="~/images/d3.webp" class="beautyimg" />
        </div>
        <div class="col-md-3">
            <img src="~/images/d4.webp" class="beautyimg" />
        </div>

    </div>
</div>
<br />
<br />
<br />
<div class="brand">
    OUR FEATURED BRANDS
</div>
<div class=gap></div>
<div class=bd>
<div class="container-fluid bid" style="margin-top:50px">
    <div class="row">

        <div class="col-md-2">
            <img src="~/images/nike1.png" class="logoimg" />
        </div>
        <div class="col-md-2">
            <img src="~/images/Wildcraft_Logo.jpg" class="logoimg" />
        </div>
        <div class="col-md-2">
            <img src="~/images/Zara.png" class="logoimg" />
        </div>
        <div class="col-md-2">
            <img src="~/images/libas.png" class="logoimg" />
        </div>
        <div class="col-md-2">
            <img src="~/images/Samsung.png" class="logoimg" />
        </div>
        <div class="col-md-2">
            <img src="~/images/puma.jpeg" class="logoimg" />
        </div>

    </div>
</div>
<div class="container-fluid" style="margin-top:50px">
    <div class="row">
        <div class="col-md-2">
        
        </div>
        <div class="col-md-2">
            <img src="~/images/raymond.jpg" class="logoimg" />
        </div>
        <div class="col-md-2">
            <img src="~/images/dell.png" class="logoimg" />
        </div>
        <div class="col-md-2">
            <img src="~/images/noise.jpeg" class="logoimg" />
        </div>
        <div class="col-md-2">
            <img src="~/images/Philips-Logo-2013-present.jpg" class="logoimg" />
        </div>
        <div class="col-md-2">
         
        </div>

    </div>
</div>
</div>
<br />
<br />
<br />
@*section>
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/c1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/c2.webp" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/c3.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</section>
*@
